<div class="container u-margin-top">
  <h1>Followers</h1>
  <div class="u-margin-top-sm">
    <% @user.followers.each do |follower| %>
      <div class="row">
        <div class="col-md-8 tweet-box">
          <h3 class="col-md-4 tweet-email"><%= link_to follower.email, follower %></h3>
        </div>
      </div>
    <% end %>
  </div>
</div>
