<% if current_user && tweet_favored?(tweet.id) %>
  <%= link_to favorite_path(get_favorite(tweet.id)), method: :delete, class: "favorite-button-favorited" do %>
    <span class="glyphicon glyphicon-star"></span>
  <% end %>
<% else %>
  <%= link_to favorites_path(tweet_id: tweet.id), method: :post, class: "qa-favorite-tweet-#{tweet.id} favorite-button" do %>
    <span class="glyphicon glyphicon-star"></span>
  <% end %>
<% end %>
