.tweet {
  &-box {
    border-top: 1px solid #d6d6d6;
    border-left: 2px solid #d6d6d6;
    border-right: 2px solid #d6d6d6;
    border-bottom: 1px solid #d6d6d6;
    border-radius: 2px;
    background-color: #fff;
  }
  &-email {
    margin-bottom: 0px !important;
  }
  &-content {
  }
}
